name: Run Tests

on:
  push:
    branches:
      - main
      - 'refs/tags/*'
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      redis:
        image: "redis:7"
        ports:
          - 6379:6379
        options: --rm

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Java
      uses: actions/setup-java@v1
      with:
        distribution: 'adopt'
        java-version: '11'

    - name: Clone Submodules
      run: git submodule update --init --recursive --remote

    - name: Install clojure cli
      uses: DeLaGuardo/setup-clojure@master
      with:
        cli: 1.11.1.1113

    - name: Cache Maven packages
      uses: actions/cache@v3
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/deps.edn') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Run tests
      run: clojure -M:test
